.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn_order {
    width: 200px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: green;
    color: white;
    font-weight: 700;
    position: relative;
    left: 930px;
    margin: 10px;
}

.btn_order:hover {
    width: 200px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: blue;
    color: white;
    font-weight: 700;
    position: relative;
    left: 930px;
    margin: 10px;

}

.btn_confirm_order {
    width: 200px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: blue;
    color: white;
    font-weight: 700;
    position: relative;
    left: 560px;
    margin: 0px;

}

.btn_confirm_order:hover {
    width: 200px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: green;
    color: white;
    font-weight: 700;
    position: relative;
    left: 560px;
    margin: 0px;

}

.forimg {
    width: 190px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}